
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  color:#fafafa;
  background-color: #212121;

}

.cards {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
  

}
.card{
  width: 25%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #424242;
  margin: 1rem;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  padding: 2rem 0;
  box-shadow: 1px 0px 2px 4px #424242;
}
.card img{
  width: 100%;
  height:15rem ;
  margin: 2rem 0;
}
p{
  width: 40%;
  margin: 0.5rem;
  font-weight: bold;
}
.alive::before{
  content:'❤ ';
  
}

.dead::before{
  content:'💀 ';
  
}

.unknown::before{
  content: '🤷‍♀️ ';
  
}
@media (max-width: 600px){
  .cards{
    flex-direction: column;
  }

  .card{
    width: 90%;
  }
}